* {
  margin: 0 auto;
  font-family: "Roboto";
}

#header {
  background-color: #1F2937;

  #logo {
    font-size: 24px;
    color: #F9FAF8;
  }

  #header-links {
    font-size: 18px;
    color: #E5E7EB;
  }
}
